[user]
	name = Tanguy
	email = tanguy.maraux@epita.fr
[core]
	editor = vim
[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
